.nav {
    display: flex;
    justify-content: space-between;
    max-width: 100%;
    padding: 10px;
    background-color: #1d1d1d;
    color: white;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 24px;
    height: 100px;
    align-items: center;
}

.container {
    height: fit-content;
    width: fit-content;
    padding-left: 50px;
}

.ul li {
    display: inline-block;
    margin-right: 55px;
    transition: all .2s ease-in-out;
    color: white;
}

.ul li:hover {
    transform: scale(1.2);
}

.ul li a:visited {
    color: white;
}

.ul li a {
    transition: all .2s ease-in-out;
}

.ul li a:hover {
    color: #3db9ff;
}