.all_blocks {
    display: grid;
    grid-template-columns: 20% 20% 20% 20% 20%;
    grid-template-rows: 20% 20% 20% 20% 20%;
    margin: 0 auto;
    background-color: bisque;
    width: fit-content;
}